<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="1.1.13" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.13" targetFramework="net461" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net461" />
  <package id="Ninject.Extensions.Xml" version="3.2.0.0" targetFramework="net461" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net461" />
</packages>